# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata

# Node.js and Ruby dependencies
node_modules/
vendor/

# Minified files
**/*.min.css
**/*.min.js

# Jekyll template files that Prettier doesn't understand
_scripts/
assets/css/main.scss

# Generated reports
lighthouse_results/

# Third-party libraries
_sass/font-awesome/
_sass/tabler-icons/