<!doctype html>
<html class="no-js" lang="en"><head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div>{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">

    <p align="center" class="bottom-small"><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 <strong>Ph.D. in Electrical & Computer Engineering</strong> from Georgia Institute of Technology, Atlanta, GA (Aug. 2021 - Dec. 2024).</p>
    <p align="center">&#8226 <strong>Minor in Industrial & Systems Engineering</strong> from Georgia Institute of Technology, Atlanta, GA (Aug. 2022 - May 2024).</p>
    <p align="center">&#8226 <strong>M.Sc. in Electrical & Computer Engineering</strong> from Georgia Institute of Technology, Atlanta, GA (Aug. 2021 - May 2024).</p>
    <p align="center">&#8226 <strong>M.Sc. in Electrical Engineering</strong> (Ranked 2<sup>nd</sup>/19) from Sharif University of Technology, Tehran, Iran (Sep. 2017 - May 2019).</p>
    <p align="center" class="bottom-three">&#8226 <strong>B.Sc. in Electrical Engineering</strong> (Ranked 1<sup>st</sup>/200) from University of Tabriz, Tabriz, Iran (Sep. 2013 - Jun. 2017).</p>

    <p align="center" class="bottom-small"><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center">&#8226 <strong>Research Scientist</strong> at <a href="https://www.hitachienergy.com/us/en/about-us/research-and-development" target="_blank">Hitachi Energy Research</a>, Raleigh, NC (Jan. 2025 - Present).</p>
    <p align="center">&#8226 <strong>Graduate Intern</strong> at <a href="https://www.dominionenergy.com/" target="_blank">Dominion Energy</a>, Richmond, VA (May 2024 - Aug. 2024).</p>
    <p align="center">&#8226 <strong>Graduate Intern</strong> at <a href="https://www.nerc.com/" target="_blank">North American Electric Reliability Corporation (NERC)</a>, Atlanta, GA (Jan. 2024 - May 2024).</p>
    <p align="center">&#8226 <strong>Graduate Intern</strong> at <a href="https://www.dominionenergy.com/" target="_blank">Dominion Energy</a>, Richmond, VA (May 2023 - Aug. 2023).</p>
    <p align="center">&#8226 <strong>Graduate Research & Teaching Assistant</strong> at <a href="https://www.gatech.edu/" target="_blank">Georgia Institute of Technology</a>, Atlanta, GA (Aug. 2021 - Dec. 2024).</p>
    <p align="center" class="bottom-three">&#8226 <strong>Graduate Research & Teaching Assistant</strong> at <a href="https://www.sharif.edu/" target="_blank">Sharif University of Technology</a>, Tehran, Iran (Sep. 2017 - May 2021).</p>

    <p align="center" class="bottom-small"><img src="{{ site.url }}/images/CV/talk.png" alt="Honors and Awards" width="70" height="70"></p>
    <p align="center">&#8226 <strong>Dominion Energy Scholarship</strong>, Richmond, VA (2023-2024).</p>
    <p align="center">&#8226 <strong>Chaddick Fellowship</strong>, Georgia Institute of Technology, Atlanta, GA (2020).</p>
    <p align="center">&#8226 <strong>Ranked 2<sup>nd</sup> in M.Sc. Program</strong>, Sharif University of Technology, Tehran, Iran (2019).</p>
    <p align="center">&#8226 <strong>Ranked 1<sup>st</sup> in B.Sc. Program</strong>, University of Tabriz, Tabriz, Iran (2017).</p>
    <p align="center">&#8226 <strong>Exceptional Talent Direct Admission to M.Sc.</strong>, Sharif University of Technology, Tehran, Iran (2017).</p>
    <p align="center" class="bottom-three">&#8226 <strong>Top 0.5% in Nationwide University Entrance Exam</strong>, Tehran, Iran (2013).</p>

    {{ content }}
    </div>{% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section>{% endif %}
  </article>
</div><div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div>{% include _scripts.html %}

</body>
</html>