<!doctype html>
<html class="no-js" lang="en">
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* BibTeX container */
div.noshow { display: none; }
div.bibtex {
    margin-right: 0%;
    margin-top: 1.2em;
    margin-bottom: 1em;
    border: 1px solid silver;
    padding: 0em 1em;
    background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto; width: 100%; padding: 0em 0em; }
</style>
<script type="text/javascript">
function toggleBibtex(articleid) {
    var bib = document.getElementById('bib_' + articleid);
    if (bib) {
        bib.className = bib.className.indexOf('noshow') === -1 ? 'bibtex noshow' : 'bibtex';
    }
}
</script>

{% include _browser-upgrade.html %}
{% include _navigation.html %}

<div id="main" role="main">
    <article>
        <h1>Publications</h1>
        <div class="article-wrap">
            <h4 style="margin-bottom:0px;padding-top:10px;">Top-Tier Journal Publications</h4>
            <ul class="biblist">

                <!-- Item: Taheri2020 -->
                <li>
                    <p>
                        B. Taheri, A. Safdarian, M. Moeini-Aghtaie, M. Lehtonen
                        <br><b>Distribution system resilience enhancement via mobile emergency generators</b><br>
                        <i>IEEE Transactions on Power Delivery</i>, vol. 36, no. 4, pp. 2308-2319, 2020.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2020')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2020" class="bibtex noshow">
                        <pre>
@article{Taheri2020,
  author = {B. Taheri and A. Safdarian and M. Moeini-Aghtaie and M. Lehtonen},
  title = {Distribution system resilience enhancement via mobile emergency generators},
  journal = {IEEE Transactions on Power Delivery},
  volume = {36},
  number = {4},
  pages = {2308-2319},
  year = {2020}
}
                        </pre>
                    </div>
                </li>

                <!-- Additional publications here -->
                
            </ul>
        </div>
    </article>
</div>

<div class="footer-wrap">
    <footer>
        {% include _footer.html %}
    </footer>
</div>

{% include _scripts.html %}
</body>
</html>
