<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
    <article>
        <h1>Publications</h1>
        <div class="article-wrap">
            <h4 style="margin-bottom:0px;padding-top:10px;">Top-Tier Journal Publications</h4>
            <ul class="biblist">
                <li>
                    <p>
                        B. Taheri, A. Safdarian, M. Moeini-Aghtaie, M. Lehtonen
                        <br><b>Distribution system resilience enhancement via mobile emergency generators</b><br>
                        <i>IEEE Transactions on Power Delivery</i>, vol. 36, no. 4, pp. 2308-2319, 2020.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2020')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2020" class="bibtex noshow">
                        <pre>
@article{Taheri2020,
  author = {B. Taheri and A. Safdarian and M. Moeini-Aghtaie and M. Lehtonen},
  title = {Distribution system resilience enhancement via mobile emergency generators},
  journal = {IEEE Transactions on Power Delivery},
  volume = {36},
  number = {4},
  pages = {2308-2319},
  year = {2020}
}
                        </pre>
                    </div>
                </li>
                <li>
                    <p>
                        B. Taheri, A. Safdarian, M. Moeini-Aghtaie, M. Lehtonen
                        <br><b>Enhancing Resilience Level of Power Distribution Systems Using Proactive Operational Actions</b><br>
                        <i>IEEE Access</i>, vol. 7, pp. 137378-137389, 2019.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2019')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2019" class="bibtex noshow">
                        <pre>
@article{Taheri2019,
  author = {B. Taheri and A. Safdarian and M. Moeini-Aghtaie and M. Lehtonen},
  title = {Enhancing Resilience Level of Power Distribution Systems Using Proactive Operational Actions},
  journal = {IEEE Access},
  volume = {7},
  pages = {137378-137389},
  year = {2019}
}
                        </pre>
                    </div>
                </li>
                <li>
                    <p>
                        B. Taheri, D.K. Molzahn, S. Grijalva
                        <br><b>Improving distribution system resilience by undergrounding lines and deploying mobile generators</b><br>
                        <i>Electric Power Systems Research</i>, vol. 214, pp. 108804, 2023.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2023')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2023" class="bibtex noshow">
                        <pre>
@article{Taheri2023,
  author = {B. Taheri and D.K. Molzahn and S. Grijalva},
  title = {Improving distribution system resilience by undergrounding lines and deploying mobile generators},
  journal = {Electric Power Systems Research},
  volume = {214},
  pages = {108804},
  year = {2023}
}
                        </pre>
                    </div>
                </li>
                <li>
                    <p>
                        B. Taheri, A. Safdarian
                        <br><b>Tie‐line planning for resilience enhancement in unbalanced distribution networks</b><br>
                        <i>IET Generation, Transmission & Distribution</i>, vol. 16, no. 5, pp. 1030-1046, 2022.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2022')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2022" class="bibtex noshow">
                        <pre>
@article{Taheri2022,
  author = {B. Taheri and A. Safdarian},
  title = {Tie‐line planning for resilience enhancement in unbalanced distribution networks},
  journal = {IET Generation, Transmission & Distribution},
  volume = {16},
  number = {5},
  pages = {1030-1046},
  year = {2022}
}
                        </pre>
                    </div>
                </li>
                <li>
                    <p>
                        B. Taheri, D.K. Molzahn
                        <br><b>Optimizing parameters of the DC power flow</b><br>
                        <i>Electric Power Systems Research</i>, vol. 235, pp. 110719, 2024.
                        <br />
                        <a href="javascript:toggleBibtex('Taheri2024')">[BibTeX]</a>
                    </p>
                    <div id="bib_Taheri2024" class="bibtex noshow">
                        <pre>
@article{Taheri2024,
  author = {B. Taheri and D.K. Molzahn},
  title = {Optimizing parameters of the DC power flow},
  journal = {Electric Power Systems Research},
  volume = {235},
  pages = {110719},
  year = {2024}
}
                        </pre>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</div>

<div class="footer-wrap">
    <footer>
        {% include _footer.html %}
    </footer>
</div>

{% include _scripts.html %}
</body>
</html>
